<canvas class="canvas" #canvas></canvas>

<div class="controls">
  <label class="rotateX">
    Rotate X:
    <input type="range" [(ngModel)]="rotateX" step="0.001" min="0.001" max="0.1" />
    <span>{{rotateX}}</span>
  </label>
  <label class="rotateY">
    Rotate Y:
    <input type="range" [(ngModel)]="rotateY" step="0.001" min="0.001" max="0.1" />
    <span>{{rotateY}}</span>
  </label>
  <button class="animate_btn" (click)="toggleAnimation()">
    {{ isAnimating ? 'STOP' : 'START' }}
  </button>
  <div class="preference">
    <label class="pointsColor">Points Color：
    <input type="color" [(ngModel)]="pointColor" (change)="updatePointColor()" />
  </label>
  <label class="backgroundColor">Background Color：
    <input type="color" [(ngModel)]="backgroundColor" (change)="updateBackgroundColor()" />
  </label>
  </div>
</div>